html,
body {
    min-height: 100%;
}
* {
    box-sizing: border-box;
    margin: 0;
}
body {
    background: radial-gradient(ellipse at center, #012E40 0%, #024959 100%);
}

.player {
    box-shadow: 0 2px 4px -4px rgba(0, 0, 0, 0.4), 0 50px 45px -20px rgba(0, 0, 0, 0.2);
    border-radius: 30px;
    height: 400px;
    margin: 50px auto;
    overflow: hidden;
    position: relative;
    width: 400px;
}
.player__meta {
    box-sizing: border-box;
    font-size: 24px;
    padding: 20px 20px;
    position: absolute;
    text-align: center;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.4);
    top: 0;
    width: 100%;
    z-index: 1;
}
.player__artist, .player__song {
    font-weight: 700;
    color: #AEBABF;
    background-color: rgba(13,13,13,0.6);
}

.player__bg {
    background-position: bottom center;
    background-size: cover;
    height: 100%;
    position: absolute;
    width: 100%;
    background-image: url("Img/bg.jpg");
}
.player__bg:before, .player__bg:after {
    content: "";
    display: block;
    height: 100%;
    position: absolute;
    width: 100%;
}
.player__bg:after {
    background: linear-gradient(to top, #000, #fff);
    opacity: 0.2;
    mix-blend-mode: soft-light;
}
.player__controls {
    display: flex;
    flex-direction: column;
    background-color: rgba(179, 179, 179, 0.8);
    bottom: 0;
    /*box-shadow: inset 0 1px rgba(255, 255, 255, 0.3);*/
    height: 80px;
    position: absolute;
    width: 100%;
}
.player__controls:before, .player__controls:after {
    content: "";
    height: 100%;
    display: block;
    pointer-events: none;
    position: absolute;
    width: 100%;
}
.player__controls:before {
    box-shadow: 0 -5px 10px 0 rgba(0, 0, 0, 0.6);
    mix-blend-mode: soft-light;
}
.player__controls-bg {
    background-position: bottom center;
    background-size: cover;
    height: 100%;
    -webkit-filter: blur(30px);
    filter: blur(30px);
    overflow: hidden;
    position: absolute;
    width: 100%;
}
.player__controls-bg:before {
    background: linear-gradient(to top, #000, #fff);
    content: "";
    display: block;
    height: 100%;
    opacity: 0.08;
    mix-blend-mode: soft-light;
    position: absolute;
    width: 100%;
}
.button {
    display: flex;
    width: 100%;
    padding: 10px 0;
    position: absolute;
    bottom: 0;
    justify-content: space-between;
    align-items: center;
}
.fa {
    width: 20px;
    padding: 0 15px;
}
.fa-volume-up {
    margin-right: 15px;
}
.playlist {
    width: 400px;
    position: fixed;
    height: 400px;
    background-color: rgba(179, 179, 179, 0.8);
    top: 475px;
    margin: 0 auto;
    border-radius: 30px;
    padding: 10px 10px;
    display: none;
}
.close_playlist {
    position: absolute;
    right: 10px;
    top: 10px;
}
.volume {
    display: none;
    position: absolute;
    right: 7px;
    width: 2%;
    top: 2px;
    height: 50%;
    border: 1px #000000 solid;
}

.volume_bar {
    display: block;
    position: absolute;
    bottom: 0;
    width: 100%;
    background: #000000;
}

.progress {
    display: block;
    position: relative;
    width: 90%;
    height: 10px;
    border: 1px #ffcccc solid;
    margin: 10px auto;
}

.progress_loaded, .progress_current {
    display: block;
    position: absolute;
    height: 100%;
    top: 0;
    left: 0;
}

.progress_loaded {
    background: #ccc;
    z-index: 1;
}

.progress_current {
    background: #000000;
    z-index: 2;
}
.visible {display: block}
.overlay {display: none}